* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {

    --hover: #b5b5b5;
    --top: #4c4c4f;
    --bottom: #929296;
    --side: #636366;
    --button: #707070;

}

#PrimeEngine {
    /* background-color: rgb(0, 70, 150); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.topbar {
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: var(--top);
    left: 0px;
    top: 0px;

}


.bottombar {
    width: 100%;
    height: 200px;
    position: absolute;
    background-color: var(--bottom);
    left: 0px;
    bottom: 0px;
}

.sidebar {
    width: 60px;
    height: 720px;
    position: absolute;
    background-color: var(--side);
    left: 0px;
    top: 60px;


}

.file {
    position: absolute;
    left: 50px;
    background-color: var(--button);
    width: 60px;
    height: 30px;
    text-align: center;
    color: white;
    top: 20%;
    font-size: 120%;


}

.help {
    position: absolute;
    left: 120px;
    background-color: var(--button);
    width: 60px;
    height: 30px;
    text-align: center;
    color: white;
    top: 20%;
    font-size: 120%;


}

.map {
    position: absolute;
    left: 700px;
    background-color: var(--button);
    width: 160px;
    height: 30px;
    text-align: center;
    color: white;
    top: 20%;
    font-size: 120%;


}

.creature {
    position: absolute;
    left: 870px;
    background-color: var(--button);
    width: 160px;
    height: 30px;
    text-align: center;
    color: white;
    top: 20%;
    font-size: 120%;


}

.details {
    position: absolute;
    left: 1040px;
    background-color: var(--button);
    width: 160px;
    height: 30px;
    text-align: center;
    color: white;
    top: 20%;
    font-size: 120%;


}


.top:hover {
    background-color: var(--hover);

}